{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSpacing": true,
  "proseWrap": "always",
  "bracketSameLine": true,
  "objectCurlySpacing": "always",
  "useTabs": false,
  "tabWidth": 2
}
